body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Light gray background */
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* White container background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box shadow */
  border-radius: 8px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Dark gray text color */
}

form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
  flex-grow: 1;
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 4px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #007bff; /* Blue button background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.heatmap-container {
  text-align: center;
}

/* Colors for the calendar heatmap */
.color-empty {
  fill: #eee; /* Light gray for empty cells */
}

.color-github-1 {
  fill: #cce5ff; /* Light blue for low activity */
}

.color-github-2 {
  fill: #66b2ff; /* Medium blue for moderate activity */
}

.color-github-3 {
  fill: #0056b3; /* Dark blue for high activity */
}
